In [52]:
import pandas as pd
import numpy as np
import re

In [5]:
df = pd.read_csv('2012100.csv', header=None)

In [10]:
df.head()

,0,1,2,3
0,1 mUnCh Edvard,"107,000,000",The scream (1895),02 may 2012 (Sotheby's nY)
1,2 rOThkO mark,"77,500,000","Orange, Red, Yellow (1961)",08 may 2012 (Christie's nY)
2,3 rOThkO mark,"67,000,000",No. 1 (Royal Red And Blue),13 nov. 2012 (Sotheby's nY)
3,4 rAPhAEL,"42,675,600",Head of a Young Apostle,05 Dec. 2012 (Sotheby's LOnDOn)
4,5 Li keran,"40,396,040",Mountains in red (1964),03 June 2012 (Poly international BEiJinG)

In [56]:
df[3]

0                      02 may 2012 (Sotheby's nY)
1                     08 may 2012 (Christie's nY)
2                     13 nov. 2012 (Sotheby's nY)
3                 05 Dec. 2012 (Sotheby's LOnDOn)
4       03 June 2012 (Poly international BEiJinG)
5                      09 may 2012 (Sotheby's nY)
6                      09 may 2012 (Sotheby's nY)
7                    07 nov. 2012 (Christie's nY)
8                    14 nov. 2012 (Christie's nY)
9                      8 nov. 2012 (Sotheby's nY)
10                   14 nov. 2012 (Christie's nY)
11                    13 nov. 2012 (Sotheby's nY)
12                     09 may 2012 (Sotheby's nY)
13                19 June 2012 (Sotheby's LOnDOn)
14               27 June 2012 (Christie's LOnDOn)
15                    08 may 2012 (Christie's nY)
16               03 Jul. 2012 (Christie's LOnDOn)
17                12 Oct. 2012 (Sotheby's LOnDOn)
18                   14 nov. 2012 (Christie's nY)
19               14 Feb. 2012 (Christie's LOnDOn)
20               27 June 2012 (Christie's LOnDOn)
21               07 Feb. 2012 (Christie's LOnDOn)
22                    13 nov. 2012 (Sotheby's nY)
23                     02 may 2012 (Sotheby's nY)
24                   14 nov. 2012 (Christie's nY)
25               07 Feb. 2012 (Christie's LOnDOn)
26                   14 nov. 2012 (Christie's nY)
27                   14 nov. 2012 (Christie's nY)
28                   07 nov. 2012 (Christie's nY)
29                    08 may 2012 (Christie's nY)
                         ...
70         10 may 2012 (Phillips de Pury & Co nY)
71        15 nov. 2012 (Phillips de Pury & Co nY)
72        15 nov. 2012 (Phillips de Pury & Co nY)
73                    08 nov. 2012 (Sotheby's nY)
74               27 June 2012 (Christie's LOnDOn)
75                     09 may 2012 (Sotheby's nY)
76             28 Dec. 2012 (DuoYunXuan ShAnGhAi)
77                08 Feb. 2012 (Sotheby's LOnDOn)
78               20 June 2012 (Christie's LOnDOn)
79                   07 nov. 2012 (Christie's nY)
80                   14 nov. 2012 (Christie's nY)
81               20 June 2012 (Christie's LOnDOn)
82                     09 may 2012 (Sotheby's nY)
83      07 Jan. 2012 (Jingdian Auctions nAnJinG )
84    28 June 2012 (Phillips de Pury & Co LOnDOn)
85                    08 may 2012 (Christie's nY)
86                     17 may 2012 (Sotheby's nY)
87         10 may 2012 (Phillips de Pury & Co nY)
88        15 nov. 2012 (Phillips de Pury & Co nY)
89                   14 nov. 2012 (Christie's nY)
90                    01 may 2012 (Christie's nY)
91                    13 nov. 2012 (Sotheby's nY)
92         02 June 2012 (Googut Auctions BEiJinG)
93          28 Oct. 2012 (China Guardian BEiJinG)
94               20 June 2012 (Christie's LOnDOn)
95                19 June 2012 (Sotheby's LOnDOn)
96               27 June 2012 (Christie's LOnDOn)
97                   28 nov. 2012 (Christie's nY)
98                    01 may 2012 (Christie’s nY)
99                     02 may 2012 (Sotheby’s nY)
Name: 3, Length: 100, dtype: object

In [17]:
artist_list = []
dictionary_keys = ['Rank', 'Last', 'First', 'Price', 'Title', 'Date']

In [23]:
for index, row in df.iterrows():

SyntaxError: unexpected EOF while parsing (<ipython-input-23-2110e195f1ae>, line 3)

In [34]:
import csv
file = '2012100.csv'
artists = []
with open(file) as fh:
    rd = csv.DictReader(fh, delimiter = ',')
    for row in rd:
        artists.append(row)

In [33]:
artists[0]
dict_keys = ['RankArtist', ' Price',' Name', ' DateandHouse' ]

In [42]:
artists[0]['RankArtist'].title().split()[1]

'Munch'

In [59]:
new_list = []
for artist in artists:
    dict_toadd = {}
    name_rank = artist['RankArtist'].title().split()
    dict_toadd['Rank'] = int(name_rank[0])
    dict_toadd['Artist'] = name_rank[1:]
    dict_toadd['Price'] = int(re.sub("[^0-9]", "", artist[' Price']))
    dict_toadd['Name'] = artist[' Name']
    auction_date = artist[' DateandHouse'].title().split(' (')
    dict_toadd['Date'] = auction_date[0]
    dict_toadd['AuctionHouse'] = auction_date[1].strip(')').title()
    new_list.append(dict_toadd)

In [58]:
new_list

[{'Rank': 1,
  'Artist': ['Munch', 'Edvard'],
  'Price': 107000000,
  'Name': 'The scream (1895)',
  'Date': '02 May 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 2,
  'Artist': ['Rothko', 'Mark'],
  'Price': 77500000,
  'Name': 'Orange, Red, Yellow (1961)',
  'Date': '08 May 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 3,
  'Artist': ['Rothko', 'Mark'],
  'Price': 67000000,
  'Name': 'No. 1 (Royal Red And Blue)',
  'Date': '13 Nov. 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 4,
  'Artist': ['Raphael'],
  'Price': 42675600,
  'Name': 'Head of a Young Apostle',
  'Date': '05 Dec. 2012',
  'AuctionHouse': "Sotheby'S London"},
 {'Rank': 5,
  'Artist': ['Li', 'Keran'],
  'Price': 40396040,
  'Name': 'Mountains in red (1964)',
  'Date': '03 June 2012',
  'AuctionHouse': 'Poly International Beijing'},
 {'Rank': 6,
  'Artist': ['Bacon', 'Francis'],
  'Price': 40000000,
  'Name': 'Figure Writing Reflected In Mirror (1976)',
  'Date': '09 May 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 7,
  'Artist': ['Lichtenstein', 'Roy'],
  'Price': 40000000,
  'Name': 'Sleeping Girl (1964)',
  'Date': '09 May 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 8,
  'Artist': ['Monet', 'Claude'],
  'Price': 39000000,
  'Name': 'Nymphéas (1905)',
  'Date': '07 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 9,
  'Artist': ['Warhol', 'Andy'],
  'Price': 39000000,
  'Name': 'Statue of Liberty (1962)',
  'Date': '14 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 10,
  'Artist': ['Picasso', 'Pablo'],
  'Price': 37000000,
  'Name': 'Nature Morte Aux Tulipes (1932)',
  'Date': '8 Nov. 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 11,
  'Artist': ['Kline', 'Franz'],
  'Price': 36000000,
  'Name': 'Untitled (1957)',
  'Date': '14 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 12,
  'Artist': ['Pollock', 'Jackson'],
  'Price': 36000000,
  'Name': 'Number 4 (1951)',
  'Date': '13 Nov. 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 13,
  'Artist': ['Warhol', 'Andy'],
  'Price': 33000000,
  'Name': 'Double Elvis [Ferus Type] (1963)',
  'Date': '09 May 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 14,
  'Artist': ['Miro', 'Joan'],
  'Price': 32938500,
  'Name': 'Peinture (Etoile Bleue) (1927)',
  'Date': '19 June 2012',
  'AuctionHouse': "Sotheby'S London"},
 {'Rank': 15,
  'Artist': ['Klein', 'Yves'],
  'Price': 32699100,
  'Name': 'Le Rose du bleu (RE 22) (1960)',
  'Date': '27 June 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 16,
  'Artist': ['Klein', 'Yves'],
  'Price': 32500000,
  'Name': 'FC1 (Fire Color 1) (1962)',
  'Date': '08 May 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 17,
  'Artist': ['Constable', 'John'],
  'Price': 31356000,
  'Name': 'The Lock',
  'Date': '03 Jul. 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 18,
  'Artist': ['Richter', 'Gerhard'],
  'Price': 30445600,
  'Name': 'Abstraktes Bild',
  'Date': '12 Oct. 2012',
  'AuctionHouse': "Sotheby'S London"},
 {'Rank': 19,
  'Artist': ['Koons', 'Jeff'],
  'Price': 30000000,
  'Name': 'Tulips (1995-2004)',
  'Date': '14 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 20,
  'Artist': ['Bacon', 'Francis'],
  'Price': 29999100,
  'Name': 'Portrait of Henrietta Moraes (1963)',
  'Date': '14 Feb. 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 21,
  'Artist': ['Bacon', 'Francis'],
  'Price': 29896320,
  'Name': 'Study for Self-Portrait (1964)',
  'Date': '27 June 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 22,
  'Artist': ['Moore', 'Henry'],
  'Price': 26841300,
  'Name': 'Reclining Figure : Festival (1951)',
  'Date': '07 Feb. 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 23,
  'Artist': ['Bacon', 'Francis'],
  'Price': 26500000,
  'Name': 'Untitled (Pope) (c.1954)',
  'Date': '13 Nov. 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 24,
  'Artist': ['Picasso', 'Pablo'],
  'Price': 26000000,
  'Name': 'Femme assise dans un fauteuil (1941)',
  'Date': '02 May 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 25,
  'Artist': ['Lichtenstein', 'Roy'],
  'Price': 25000000,
  'Name': 'Nude with Red Shirt (1995)',
  'Date': '14 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 26,
  'Artist': ['Miro', 'Joan'],
  'Price': 23683500,
  'Name': 'Painting Poem (Le corps de ma brune [...]) (1925)',
  'Date': '07 Feb. 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 27,
  'Artist': ['Basquiat', 'Jean-Michel'],
  'Price': 23500000,
  'Name': 'Untitled (1981)',
  'Date': '14 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 28,
  'Artist': ['Warhol', 'Andy'],
  'Price': 21100000,
  'Name': 'Marlon (1966)',
  'Date': '14 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 29,
  'Artist': ['Kandinsky', 'Wassily'],
  'Price': 20500000,
  'Name': 'Studie für Improvisation 8 (1909)',
  'Date': '07 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 30,
  'Artist': ['Pollock', 'Jackson'],
  'Price': 20500000,
  'Name': 'Number 28 (1951)',
  'Date': '08 May 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 31,
  'Artist': ['Newman', 'Barnett'],
  'Price': 20000000,
  'Name': 'Onement V (1952)',
  'Date': '08 May 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 32,
  'Artist': ['Richter', 'Gerhard'],
  'Price': 19400000,
  'Name': 'Abstraktes Bild (798-3) (1993)',
  'Date': '08 May 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 33,
  'Artist': ['Rothko', 'Mark'],
  'Price': 19000000,
  'Name': 'Black Stripe (Orange, Gold and Black) (1957)',
  'Date': '14 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 34,
  'Artist': ['Basquiat', 'Jean-Michel'],
  'Price': 17906650,
  'Name': 'Untitled (1981)',
  'Date': '27 June 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 35,
  'Artist': ['Richter', 'Gerhard'],
  'Price': 17595230,
  'Name': 'Struktur (2) (1989)',
  'Date': '27 June 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 36,
  'Artist': ['Kooning', 'De', 'Willem'],
  'Price': 17500000,
  'Name': 'Abstraction (c.1949)',
  'Date': '13 Nov. 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 37,
  'Artist': ['Richter', 'Gerhard'],
  'Price': 17200000,
  'Name': 'Seestüeck (Leicht bewöelkt) (1969)',
  'Date': '08 May 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 38,
  'Artist': ['Li', 'Keran'],
  'Price': 17200000,
  'Name': 'Seestüeck (Leicht bewöelkt) (1969)',
  'Date': '08 May 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 39,
  'Artist': ['Cézanne', 'Paul'],
  'Price': 17000000,
  'Name': 'Joueur de cartes (1892/96)',
  'Date': '01 May 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 40,
  'Artist': ['Matisse', 'Henri'],
  'Price': 17000000,
  'Name': 'Les pivoines (1907)',
  'Date': '01 May 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 41,
  'Artist': ['Calder', 'Alexander'],
  'Price': 16500000,
  'Name': 'Lily of Force (1945)',
  'Date': '08 May 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 42,
  'Artist': ['Richter', 'Gerhard'],
  'Price': 15500000,
  'Name': 'Abstraktes Bild',
  'Date': '13 Nov. 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 43,
  'Artist': ['Twombly', 'Cy'],
  'Price': 15500000,
  'Name': 'Untitled (New York City) (1970)',
  'Date': '09 May 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 44,
  'Artist': ['Picasso', 'Pablo'],
  'Price': 15300000,
  'Name': 'Femme à la Fenêtre (Marie-Thérèse) (1936)',
  'Date': '08 Nov. 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 45,
  'Artist': ['Richter', 'Gerhard'],
  'Price': 15000000,
  'Name': 'Abstraktes Bild (1992)',
  'Date': '09 May 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 46,
  'Artist': ['Gris', 'Juan'],
  'Price': 14525880,
  'Name': 'Le livre (1915)',
  'Date': '07 Feb. 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 47,
  'Artist': ['Basquiat', 'Jean-Michel'],
  'Price': 14500000,
  'Name': 'Untitled (1981)',
  'Date': '10 May 2012',
  'AuctionHouse': 'Phillips De Pury & Co Ny'},
 {'Rank': 48,
  'Artist': ['Dali', 'Salvador'],
  'Price': 14500000,
  'Name': 'Printemps nécrophilique (1936)',
  'Date': '02 May 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 49,
  'Artist': ['Warhol', 'Andy'],
  'Price': 14500000,
  'Name': 'Suicide',
  'Date': '13 Nov. 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 50,
  'Artist': ['Gogh', 'Van', 'Vincent'],
  'Price': 14210100,
  'Name': "Vue de l'asile et de la Chapelle de Saint Rémy (1889)",
  'Date': '07 Feb. 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 51,
  'Artist': ['Wang', 'Zhenpeng'],
  'Price': 13940594,
  'Name': 'Landscape (1323)',
  'Date': '04 Dec. 2012',
  'AuctionHouse': 'Poly International Beijing'},
 {'Rank': 52,
  'Artist': ['Richter', 'Gerhard'],
  'Price': 13894320,
  'Name': 'Abstraktes Bild (1994)',
  'Date': '14 Feb. 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 53,
  'Artist': ['Richter', 'Gerhard'],
  'Price': 13600000,
  'Name': 'Abstraktes Bild (779-2) (1992)',
  'Date': '14 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 54,
  'Artist': ['Warhol', 'Andy'],
  'Price': 13500000,
  'Name': 'Green Disaster (Green Disaster Twice) (1963)',
  'Date': '13 Nov. 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 55,
  'Artist': ['Miro', 'Joan'],
  'Price': 13200000,
  'Name': 'Tête humaine (1931)',
  'Date': '02 May 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 56,
  'Artist': ['Fu', 'Baoshi'],
  'Price': 12673267,
  'Name': 'Composition of dufu’s poem (1944)',
  'Date': '03 June 2012',
  'AuctionHouse': 'Poly International Beijing'},
 {'Rank': 57,
  'Artist': ['Kooning', 'De', 'Willem'],
  'Price': 12500000,
  'Name': 'Untitled I (1980)',
  'Date': '08 May 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 58,
  'Artist': ['Signac', 'Paul'],
  'Price': 12315420,
  'Name': "La Corne d'Or, Constantinople (1907)",
  'Date': '07 Feb. 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 59,
  'Artist': ['Miro', 'Joan'],
  'Price': 12200000,
  'Name': 'Peinture (Femme, Journal, Chien) (1925)',
  'Date': '07 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 60,
  'Artist': ['Diebenkorn', 'Richard'],
  'Price': 12000000,
  'Name': 'Ocean Park # 48 (1971)',
  'Date': '14 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 61,
  'Artist': ['Picasso', 'Pablo'],
  'Price': 12000000,
  'Name': 'Le Viol (1940)',
  'Date': '08 Nov. 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 62,
  'Artist': ['Warhol', 'Andy'],
  'Price': 12000000,
  'Name': 'Mao (1973)',
  'Date': '15 Nov. 2012',
  'AuctionHouse': 'Phillips De Pury & Co Ny'},
 {'Rank': 63,
  'Artist': ['Picasso', 'Pablo'],
  'Price': 11927440,
  'Name': 'Femme assise (1949)',
  'Date': '20 June 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 64,
  'Artist': ['Rembrandt', 'Van', 'Rijn'],
  'Price': 11758500,
  'Name': 'A man in a gorget and cap',
  'Date': '03 Jul. 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 65,
  'Artist': ['Picasso', 'Pablo'],
  'Price': 11600000,
  'Name': 'Buste de femme (1937)',
  'Date': '07 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 66,
  'Artist': ['Monet', 'Claude'],
  'Price': 11557360,
  'Name': "L'Entrée de Giverny en Hiver (1885)",
  'Date': '08 Feb. 2012',
  'AuctionHouse': "Sotheby'S London"},
 {'Rank': 67,
  'Artist': ['Qi', 'Baishi'],
  'Price': 11405941,
  'Name': 'Ode of Motherland',
  'Date': '03 Dec. 2012',
  'AuctionHouse': 'Poly International Beijing'},
 {'Rank': 68,
  'Artist': ['Basquiat', 'Jean-Michel'],
  'Price': 11315080,
  'Name': 'Irony of Negro Policeman (1981)',
  'Date': '28 June 2012',
  'AuctionHouse': 'Phillips De Pury & Co London'},
 {'Rank': 69,
  'Artist': ['Brancusi', 'Constantin'],
  'Price': 11250000,
  'Name': 'Prométhée (1911)',
  'Date': '02 May 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 70,
  'Artist': ['Brancusi', 'Constantin'],
  'Price': 11000000,
  'Name': 'Une muse (1912)',
  'Date': '07 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 71,
  'Artist': ['Kooning', 'De', 'Willem'],
  'Price': 11000000,
  'Name': 'Untitled VI (1975)',
  'Date': '10 May 2012',
  'AuctionHouse': 'Phillips De Pury & Co Ny'},
 {'Rank': 72,
  'Artist': ['Richter', 'Gerhard'],
  'Price': 11000000,
  'Name': 'Kegel (Cone) (1985)',
  'Date': '15 Nov. 2012',
  'AuctionHouse': 'Phillips De Pury & Co Ny'},
 {'Rank': 73,
  'Artist': ['Warhol', 'Andy'],
  'Price': 11000000,
  'Name': 'Nine Jackies (1964)',
  'Date': '15 Nov. 2012',
  'AuctionHouse': 'Phillips De Pury & Co Ny'},
 {'Rank': 74,
  'Artist': ['Monet', 'Claude'],
  'Price': 10750000,
  'Name': 'Champ de Blé (1881)',
  'Date': '08 Nov. 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 75,
  'Artist': ['Klein', 'Yves'],
  'Price': 10588280,
  'Name': 'Rélief éponge bleu (RE 51) (1959)',
  'Date': '27 June 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 76,
  'Artist': ['Lichtenstein', 'Roy'],
  'Price': 10500000,
  'Name': 'Sailboats III (1974)',
  'Date': '09 May 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 77,
  'Artist': ['Wen', 'Zhengming'],
  'Price': 10297030,
  'Name': 'Landscape (1531)',
  'Date': '28 Dec. 2012',
  'AuctionHouse': 'Duoyunxuan Shanghai'},
 {'Rank': 78,
  'Artist': ['Kirchner', 'Ernst', 'Ludwig'],
  'Price': 10290800,
  'Name': 'Das Boskett: Albertplatz in Dresden [...])(1911)',
  'Date': '08 Feb. 2012',
  'AuctionHouse': "Sotheby'S London"},
 {'Rank': 79,
  'Artist': ['Magritte', 'René'],
  'Price': 10044160,
  'Name': 'Les jours gigantesques (1928)',
  'Date': '20 June 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 80,
  'Artist': ['Giacometti', 'Alberto'],
  'Price': 10000000,
  'Name': 'La Jambe (1947)',
  'Date': '07 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 81,
  'Artist': ['Kline', 'Franz'],
  'Price': 9800000,
  'Name': 'De Medici (1956)',
  'Date': '14 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 82,
  'Artist': ['Picasso', 'Pablo'],
  'Price': 9730280,
  'Name': 'Femme au chien (1962)',
  'Date': '20 June 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 83,
  'Artist': ['Warhol', 'Andy'],
  'Price': 9500000,
  'Name': 'Ten-Foot Flowers (1967/68)',
  'Date': '09 May 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 84,
  'Artist': ['Li', 'Keran'],
  'Price': 9425743,
  'Name': 'Shaoshan',
  'Date': '07 Jan. 2012',
  'AuctionHouse': 'Jingdian Auctions Nanjing '},
 {'Rank': 85,
  'Artist': ['Warhol', '&', 'Basquiat'],
  'Price': 9364200,
  'Name': 'Olympics (1984)',
  'Date': '28 June 2012',
  'AuctionHouse': 'Phillips De Pury & Co London'},
 {'Rank': 86,
  'Artist': ['Calder', 'Alexander'],
  'Price': 9200000,
  'Name': 'Snow Flurry (c.1948)',
  'Date': '08 May 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 87,
  'Artist': ['Hopper', 'Edward'],
  'Price': 9200000,
  'Name': 'Bridle Path (1939)',
  'Date': '17 May 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 88,
  'Artist': ['Warhol', 'Andy'],
  'Price': 9200000,
  'Name': 'Mao (1973)',
  'Date': '10 May 2012',
  'AuctionHouse': 'Phillips De Pury & Co Ny'},
 {'Rank': 89,
  'Artist': ['Basquiat', 'Jean-Michel'],
  'Price': 9000000,
  'Name': 'Humidity (1982)',
  'Date': '15 Nov. 2012',
  'AuctionHouse': 'Phillips De Pury & Co Ny'},
 {'Rank': 90,
  'Artist': ['Judd', 'Donald'],
  'Price': 9000000,
  'Name': 'Untitled, 1989 (Bernstein 89-24) (1989)',
  'Date': '14 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 91,
  'Artist': ['Picasso', 'Pablo'],
  'Price': 8750000,
  'Name': 'Le repos (Marie-Thérèse Walter) (1932)',
  'Date': '01 May 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 92,
  'Artist': ['Still', 'Clyfford', 'E.'],
  'Price': 8750000,
  'Name': '1948-H',
  'Date': '13 Nov. 2012',
  'AuctionHouse': "Sotheby'S Ny"},
 {'Rank': 93,
  'Artist': ['Fu', 'Baoshi'],
  'Price': 8712871,
  'Name': 'Landscape',
  'Date': '02 June 2012',
  'AuctionHouse': 'Googut Auctions Beijing'},
 {'Rank': 94,
  'Artist': ['Dong', 'Qichang'],
  'Price': 8633663,
  'Name': 'Landscape after huang gongwang',
  'Date': '28 Oct. 2012',
  'AuctionHouse': 'China Guardian Beijing'},
 {'Rank': 95,
  'Artist': ['Signac', 'Paul'],
  'Price': 8631700,
  'Name': "La Corne d'Or, les minarets (1907)",
  'Date': '20 June 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 96,
  'Artist': ['Picasso', 'Pablo'],
  'Price': 8626750,
  'Name': 'Homme assis (1972)',
  'Date': '19 June 2012',
  'AuctionHouse': "Sotheby'S London"},
 {'Rank': 97,
  'Artist': ['Calder', 'Alexander'],
  'Price': 8564050,
  'Name': 'Rouge triomphant (Triumphant Red)',
  'Date': '27 June 2012',
  'AuctionHouse': "Christie'S London"},
 {'Rank': 98,
  'Artist': ['Hopper', 'Edward'],
  'Price': 8500000,
  'Name': 'October on Cape Cod (1946)',
  'Date': '28 Nov. 2012',
  'AuctionHouse': "Christie'S Ny"},
 {'Rank': 99,
  'Artist': ['Monet', 'Claude'],
  'Price': 8500000,
  'Name': 'Les demoiselles de Giverny (1894)',
  'Date': '01 May 2012',
  'AuctionHouse': 'Christie’S Ny'},
 {'Rank': 100,
  'Artist': ['Soutine', 'Chaïm'],
  'Price': 8300000,
  'Name': 'Le chasseur de chez Maxim’s (1925)',
  'Date': '02 May 2012',
  'AuctionHouse': 'Sotheby’S Ny'}]