In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
df = pd.read_csv('2012100.csv', header=None)

In [4]:
df.head()

,0,1,2,3
0,RankArtist,Price,Name,DateandHouse
1,1 mUnCh Edvard,"107,000,000",The scream (1895),02 may 2012 (Sotheby's nY)
2,2 rOThkO mark,"77,500,000","Orange, Red, Yellow (1961)",08 may 2012 (Christie's nY)
3,3 rOThkO mark,"67,000,000",No. 1 (Royal Red And Blue),13 nov. 2012 (Sotheby's nY)
4,4 rAPhAEL,"42,675,600",Head of a Young Apostle,05 Dec. 2012 (Sotheby's LOnDOn)

In [5]:
df[3]

0                                     DateandHouse
1                       02 may 2012 (Sotheby's nY)
2                      08 may 2012 (Christie's nY)
3                      13 nov. 2012 (Sotheby's nY)
4                  05 Dec. 2012 (Sotheby's LOnDOn)
5        03 June 2012 (Poly international BEiJinG)
6                       09 may 2012 (Sotheby's nY)
7                       09 may 2012 (Sotheby's nY)
8                     07 nov. 2012 (Christie's nY)
9                     14 nov. 2012 (Christie's nY)
10                      8 nov. 2012 (Sotheby's nY)
11                    14 nov. 2012 (Christie's nY)
12                     13 nov. 2012 (Sotheby's nY)
13                      09 may 2012 (Sotheby's nY)
14                 19 June 2012 (Sotheby's LOnDOn)
15                27 June 2012 (Christie's LOnDOn)
16                     08 may 2012 (Christie's nY)
17                03 Jul. 2012 (Christie's LOnDOn)
18                 12 Oct. 2012 (Sotheby's LOnDOn)
19                    14 nov. 2012 (Christie's nY)
20                14 Feb. 2012 (Christie's LOnDOn)
21                27 June 2012 (Christie's LOnDOn)
22                07 Feb. 2012 (Christie's LOnDOn)
23                     13 nov. 2012 (Sotheby's nY)
24                      02 may 2012 (Sotheby's nY)
25                    14 nov. 2012 (Christie's nY)
26                07 Feb. 2012 (Christie's LOnDOn)
27                    14 nov. 2012 (Christie's nY)
28                    14 nov. 2012 (Christie's nY)
29                    07 nov. 2012 (Christie's nY)
                          ...
71          10 may 2012 (Phillips de Pury & Co nY)
72         15 nov. 2012 (Phillips de Pury & Co nY)
73         15 nov. 2012 (Phillips de Pury & Co nY)
74                     08 nov. 2012 (Sotheby's nY)
75                27 June 2012 (Christie's LOnDOn)
76                      09 may 2012 (Sotheby's nY)
77              28 Dec. 2012 (DuoYunXuan ShAnGhAi)
78                 08 Feb. 2012 (Sotheby's LOnDOn)
79                20 June 2012 (Christie's LOnDOn)
80                    07 nov. 2012 (Christie's nY)
81                    14 nov. 2012 (Christie's nY)
82                20 June 2012 (Christie's LOnDOn)
83                      09 may 2012 (Sotheby's nY)
84       07 Jan. 2012 (Jingdian Auctions nAnJinG )
85     28 June 2012 (Phillips de Pury & Co LOnDOn)
86                     08 may 2012 (Christie's nY)
87                      17 may 2012 (Sotheby's nY)
88          10 may 2012 (Phillips de Pury & Co nY)
89         15 nov. 2012 (Phillips de Pury & Co nY)
90                    14 nov. 2012 (Christie's nY)
91                     01 may 2012 (Christie's nY)
92                     13 nov. 2012 (Sotheby's nY)
93          02 June 2012 (Googut Auctions BEiJinG)
94           28 Oct. 2012 (China Guardian BEiJinG)
95                20 June 2012 (Christie's LOnDOn)
96                 19 June 2012 (Sotheby's LOnDOn)
97                27 June 2012 (Christie's LOnDOn)
98                    28 nov. 2012 (Christie's nY)
99                     01 may 2012 (Christie’s nY)
100                     02 may 2012 (Sotheby’s nY)
Name: 3, Length: 101, dtype: object

In [6]:
artist_list = []
dictionary_keys = ['Rank', 'Last', 'First', 'Price', 'Title', 'Date']

In [7]:
for index, row in df.iterrows():

SyntaxError: unexpected EOF while parsing (<ipython-input-7-2110e195f1ae>, line 3)

In [13]:
import csv
def get_data(file):
    file = file
    artists = []
    with open(file) as fh:
        rd = csv.DictReader(fh, delimiter = ',')
        for row in rd:
            artists.append(row)
    return artists

In [9]:
artists[0]
dict_keys = ['RankArtist', ' Price',' Name', ' DateandHouse' ]

In [10]:
artists[0]['RankArtist'].title().split()[1]

'Munch'

In [11]:
new_list = []
for artist in artists:
    dict_toadd = {}
    name_rank = artist['RankArtist'].title().split()
    dict_toadd['Rank'] = int(name_rank[0])
    dict_toadd['Artist'] = name_rank[1:]
    dict_toadd['Price'] = int(re.sub("[^0-9]", "", artist[' Price']))
    dict_toadd['Name'] = artist[' Name']
    auction_date = artist[' DateandHouse'].title().split(' (')
    dict_toadd['Date'] = auction_date[0].split()
    dict_toadd['AuctionHouse'] = auction_date[1].strip(')').title()
    new_list.append(dict_toadd)

In [14]:
new_list[0]

{'Rank': 1,
 'Artist': ['Munch', 'Edvard'],
 'Price': 107000000,
 'Name': 'The scream (1895)',
 'Date': ['02', 'May', '2012'],
 'AuctionHouse': "Sotheby'S Ny"}

In [18]:
top5002012csv = get_data('2012500-rank-artist-auctiontotal.csv')

In [26]:
top5002012csv[0]

OrderedDict([('A', '1'),
             ('B', 'WArhOL Andy (1928-1987)'),
             ('C', '$329,963,430')])

In [37]:
cleantop5002012 = []
for artist in top5002012csv:
    new_item = {}
    new_item['Rank'] = int(artist['A'])
    name_date = artist['B'].title().split()
    new_item['Name'] = name_date[:-1]
    years = name_date[-1].strip('()').split('-')
    new_item['Life'] = years
    new_item['TotalPrice'] = int(re.sub("[^0-9]", "", artist['C']))
    cleantop5002012.append(new_item)

In [40]:
cleantop5002012[:2]

[{'Rank': 1,
  'Name': ['Warhol', 'Andy'],
  'Life': ['1928', '1987'],
  'TotalPrice': 329963430},
 {'Rank': 2,
  'Name': ['Zhang', 'Daqian'],
  'Life': ['1899', '1983'],
  'TotalPrice': 287223639}]