In [2]:
import pandas as pd
import re

In [7]:
file = 'topartistsoverall2016.csv'

In [11]:
import csv
def get_data(file):
    file = file
    artists = []
    with open(file) as fh:
        rd = csv.DictReader(fh, delimiter = ',')
        for row in rd:
            artists.append(row)
    return artists

In [15]:
x = get_data(file)
x[:2]

[OrderedDict([('A', '1'),
              ('B', 'pICAsso pablo (1881-1973)'),
              ('C', '650,837,410'),
              ('D', '2,875'),
              ('E', '179,365,000')]),
 OrderedDict([('A', '2'),
              ('B', 'WARHol Andy (1928-1987)'),
              ('C', '523,568,378'),
              ('D', '1,453'),
              ('E', '56,165,000')])]

In [14]:
titles2015 = ['Rank', 'Artist', 'Turnover', 'Sold lots', 'Top Auction Result']

In [43]:
def clean_data(read_file, year):
    return_list = []
    for artist in read_file:
        new_item = {}
        new_item['Rank'] = int(artist['A'])
        name_date = artist['B'].title().split()
        new_item['Name'] = list(reversed(name_date[:-1]))
        years = name_date[-1].strip('()').split('-')
        new_item['Life'] = years
        new_item['TotalSold'] = int(re.sub("[^0-9]", "", artist['C']))
        new_item['TotalLots'] = int(re.sub("[^0-9]", "", artist['D']))
        new_item['MaxPrice'] = int(re.sub("[^0-9]", "", artist['E']))
        new_item['SaleYear'] = year
        return_list.append(new_item)
    return return_list

In [44]:
cleantop5002015 = clean_data(x, 2015)

In [45]:
cleantop5002015[2]

{'Rank': 3,
 'Name': ['Claude', 'Monet'],
 'Life': ['1840', '1926'],
 'TotalSold': 338744605,
 'TotalLots': 36,
 'MaxPrice': 54010000,
 'SaleYear': 2015}

In [46]:
file1 = '2014top500.csv'
y = get_data(file1)
cleantop5002014 = clean_data(y, 2014)

In [69]:
cleantop5002014[0]

{'Rank': 1,
 'Name': ['Andy', 'Warhol'],
 'Life': ['1928', '1987'],
 'TotalSold': 569507083,
 'TotalLots': 1394,
 'MaxPrice': 73000000,
 'SaleYear': 2014}

In [74]:
file2 = '2009500.csv'
z = get_data(file2)

In [75]:
z[0]
# A, B, C, E, G

OrderedDict([('A', '1'),
             ('B', '1 PICASSO Pablo (1881-1973)'),
             ('C', '121,018,218'),
             ('D', '262,473,114'),
             ('E', '1754'),
             ('F', '1793'),
             ('G', '13,000,000'),
             ('H', '17,100,000')])

In [76]:
def clean_data_extended(read_file, year):
    return_list = []
    for artist in read_file:
        new_item = {}
        new_item['Rank'] = int(artist['A'])
        name_date = artist['B'].title().split()
        new_item['Name'] = list(reversed(name_date[:-1]))
        years = name_date[-1].strip('()').split('-')
        new_item['Life'] = years
        new_item['TotalSold'] = int(re.sub("[^0-9]", "", artist['C']))
        new_item['TotalLots'] = int(re.sub("[^0-9]", "", artist['E']))
        new_item['MaxPrice'] = int(re.sub("[^0-9]", "", artist['G']))
        new_item['SaleYear'] = year
        return_list.append(new_item)
    return return_list

In [77]:
cleantop5002009 = clean_data_extended(z, 2009)

In [78]:
cleantop5002009[-1]

{'Rank': 500,
 'Name': ['Pavlovich', 'Ivan', 'Pokhitonov', '408'],
 'Life': ['1851', '1924'],
 'TotalSold': 1336678,
 'TotalLots': 11,
 'MaxPrice': 250215,
 'SaleYear': 2009}

In [72]:
def clean_extended(data):
    for artist in data:
        if artist['Name'][-1].isdigit():
            artist['Name'].pop()

In [81]:
clean_extended(cleantop5002009)
cleantop5002009[-1]

{'Rank': 500,
 'Name': ['Pavlovich', 'Ivan', 'Pokhitonov'],
 'Life': ['1851', '1924'],
 'TotalSold': 1336678,
 'TotalLots': 11,
 'MaxPrice': 250215,
 'SaleYear': 2009}

In [82]:
file3 = '2008500.csv'
w = get_data(file3)
cleantop5002008 = clean_data_extended(w, 2008)

In [83]:
cleantop5002008[-1]

{'Rank': 500,
 'Name': ['Sidney', 'William', 'Mount'],
 'Life': ['1807', '1868'],
 'TotalSold': 2007000,
 'TotalLots': 3,
 'MaxPrice': 2000000,
 'SaleYear': 2008}

In [84]:
clean_extended(cleantop5002008)

In [85]:
cleantop5002008[-5]

{'Rank': 496,
 'Name': ['Ii', 'Rudolf', 'Swoboda'],
 'Life': ['1859', '1914'],
 'TotalSold': 2009931,
 'TotalLots': 3,
 'MaxPrice': 1994000,
 'SaleYear': 2008}